.filters {
  display: flex;
  flex-direction: column;
  padding: 15px 0 30px 0px;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 26px;
  }
  @media all and (min-width: 680px) {
    flex-direction: row;
    gap: 20px;
  }
}

.filter {
  &__movie {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__year {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__button {
    background-color: var(--color-text);
    color: var(--primary--ligth);
    height: 25px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--color-title);
    }
  }
}

.movie {
  &__text {
    font-size: 1rem;
    margin: 10px;
    color: var(--color-title);
    font-weight: 600;
  }
  &__search {
    border-radius: 4px;
    height: 21px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: var(--primary);
    &--icon {
      position: relative;
      right: 20px;
      color: var(--color-title);
      cursor: pointer;
    }
  }
}

.year {
  &__text {
    font-size: 1rem;
    margin: 10px;
    color: var(--color-title);
    font-weight: 600;
  }
  &__select {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 80px;
    height: 25px;
    padding: 2px;
    text-align: right;
    background-color: var(--primary);
    color: var(--color-title);
  }
}
