.header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--primary--dark);

  &__title {
    font-size: 1.44rem;
    font-weight: bold;
    color: var(--color-text);
  }
}
@media all and (min-width: 768px) {
  .header {
    &__title {
      font-size: 2rem;
    }
  }
}
