:root {
  --primary: #effefd;
  --secondary: #b2dfdb;
  --secondary--dark: #82ada9;
  --secondary--ligth: #e5ffff;
  --primary--dark: #aebfbe;
  --primary--ligth: #fcfafa;
  --color-title: #004d40;
  --color-text: #00796b;
}
